body{
	overflow-x: hidden ;
	height: 200vh;
}
.header{
	content: "";
	width: 120vw;
	height: 70px;
	background: black;
	position: fixed;
	top:  0vh;
	right: 0vh;
	display: flex;
	min-height: 50px;
	transition: all 0.5s;
	justify-content: flex-end;
	font-family: helvetica;
	z-index: 1000;
}

.hb{
	font-family: BioRhyme;
	width: 7%;
	height: 60%;
	padding: 0.3%;
	margin-top: 0.75%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	background-color: transparent;
	font-weight: normal;
	color:#ccc;
	font-size: 1em;
	border: 2px solid #ccc;
	transition: all 0.2s;
}

.hb:hover {
	background-color: black;
	color: #ccc!important;
}

.fluidcont{
	height: 760px;
	background-color: #ccc;
}

.fluid{
	width: 110%;
	height: 600px;
	height: 95vh;
	float:left;
	position: relative;
	left: -15px;
	background-color:black;
	display: flex;
	/*border-radius: 16% 0% 45% 55% / 0% 0% 18% 69% ;*/
	/*border-radius: 0% 0% 80% 100% / 0% 0% 30% 100% ;*/
	/*border-radius: 0% 0% 49% 94% / 0% 0% 20% 100% ;*/
	border-radius: 0% 0% 33% 67% / 0% 0% 14% 100% ;
	justify-content: flex-end;
}

.fluidtxt{
	margin-top: 30vh;
	margin-right: 10%; 
	width: 50%;
	height: 50%;
	color:#ccc;
	position: relative;
	top: -5%;
	font-size: 4em;
	overflow: hidden;
	font-family: Tangerine;
}

.leftc{
	border-radius: 50%;
	width: 600px;
	height: 600px;
	background-color: #99a3ff;
	position: relative;
	left: -600px;
	opacity: 1;
}
