body{
	overflow-x: hidden;
	background: #f5f5f5;
	height: 500vh;
	transition: 0.5s;
	overflow: hidden;
	cursor: none;
}

.incircle{
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	z-index: 9999;
  transform:translate(-50%,-50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: height 0.5s, width 0.5s;
}

.pointer{
	opacity: 0;
	transition: opacity 0.5s;
}

.circblack{
	background-color: black !important;
}

.outcircblack{
	border:0.5px solid black !important;	
}

.outcircle{
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
	background-color: transparent;
	border: 0.5px solid white;
	z-index: 9998;
  transform:translate(-50%,-50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: height 0.5s, width 0.5s;
}

h1{
	font-size: 1.5em;
	color: black;	
	overflow-y: hidden;
	line-height: 1.5;
	letter-spacing: 2px;
	word-spacing: 7px;
}

.typewrite{
	position: relative;
	font-family: Montserrat;
	display: flex;
	padding: 20px;
	z-index: 20;
	transform: translateX(-150px);
}


.custom-shape-divider-bottom-1622854535 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(700px + 50vw);
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1622854535 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1622854535 .shape-fill {
    fill: #f5f5f5;
}



.header{
	content: "";
	width: 120vw;
	height: calc(50px + 2vh);
	background: black;
	background: transparent;
	position: fixed;
	top:  0vh;
	right: 0vh;
	display: flex;
	min-height: 50px;
	transition: all 0.5s;
	justify-content: flex-end;
	z-index: 1000;
}

.headerhover{
	content: "";
	width: 120vw;
	height: calc(50px + 2vh);
	background: black;
	background: transparent;
	position: fixed;
	top:  0vh;
	right: 0vh;
	display: flex;
	min-height: 50px;
	transition: all 0.5s;
	justify-content: flex-end;
	z-index: 1000;
}

.headerhover:hover{
	box-shadow: 0px 5px 10px black;
}

.hb{
	font-family: BioRhyme;
	width: 100px;
	height: 60%;
	padding: 0.3%;
	margin-top: 0.75%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	background-color: transparent;
	font-weight: normal;
	color:#f5f5f5;
	font-size: 1em;
	border: 2px solid #f5f5f5;
	transition: all 0.2s;
	cursor: none;
}

.hb:hover {
	background-color: black;
	color: #f5f5f5!important;
}

.incirclehov{
	width: 15px;
	height: 15px;
}

.outcirclehov{
	width: 65px;
	height: 65px;
	background: rgba(245, 245, 245, 1);
	mix-blend-mode: difference;
}

.fluidcont{
	height: calc(700px + 10vh);
	position: relative;
	top: -25px;
	width: 110vw;
	background-color: #f5f5f5;
	z-index: -2;
}

.fluid{
	width: 100%;
	height: 90%;
	float:left;
	position: relative;
	left: -15px;
	background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));;
	background-image: linear-gradient(66deg, transparent 0%, transparent 24%,rgba(195, 195, 195,0.04) 24%, rgba(195, 195, 195,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(153deg, transparent 0%, transparent 29%,rgba(195, 195, 195,0.04) 29%, rgba(195, 195, 195,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 32%,rgba(195, 195, 195,0.04) 32%, rgba(195, 195, 195,0.04) 59%,transparent 59%, transparent 100%),linear-gradient(277deg, transparent 0%, transparent 56%,rgba(195, 195, 195,0.04) 56%, rgba(195, 195, 195,0.04) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
	background-image: radial-gradient(circle at 99% 33%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, rgba(187,187,187, 0.06) 0%, rgba(187,187,187, 0.06) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
	display: flex;
	/*border-radius: 16% 0% 45% 55% / 0% 0% 18% 69% ;*/
	/*border-radius: 0% 0% 80% 100% / 0% 0% 30% 100% ;*/
	/*border-radius: 0% 0% 49% 94% / 0% 0% 20% 100% ;*/
	/*border-radius: 0% 0% 33% 67% / 0% 0% 14% 100% ;*/
	justify-content: flex-end;
}


.fluidtxt{
	margin-top: 160px;
	margin-right: 15%; 
	width: calc(80% - 40vw);
	height: 50%;
	color:white;
	position: relative;
	top: -10px;
	font-size: calc(2em + 1.5vw + 1.5vh);
	line-height: 1.25;
	overflow: hidden;
	font-family: Tangerine;
}



.bottom{
	height: 100vh;
}


::-webkit-scrollbar {
  width: 7px;
  z-index: 9000;
}

.black::-webkit-scrollbar-track {
  background: black;
}

.white::-webkit-scrollbar-track {
	background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 100px;
	height: 100px;
	background: white;
	border: 25px solid white;
	box-shadow: 20px 20px 10px black;
	border-radius: 50%;
	visibility: hidden;
	z-index: 10000;
	overflow: hidden;
}


.innerbutton{
	width: 140px;
	height: 140px;
	transform: rotate(0deg);
	transform-origin: left center;
	transition: 0.5s;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	left: 10px;
	top: 10px;	
}


.square{
	width: 70px;
	height: 70px;
	border-radius: 5px;
	border: 5px solid black;
}

.blank{
	width: 70px;
	height: 70px;
}

.cross{
	width: 70px;
	height: 70px;
	position: relative;
	top: -3px;
	left: -3px;
	border-radius: 5px;
	border-top: 5px solid black;
	border-left: 5px solid black;
}



.menu{
	height: 2000px;
	width: 2000px;
	background-image: radial-gradient(circle at 28% 44%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 1%,transparent 1%, transparent 73%,transparent 73%, transparent 100%),radial-gradient(circle at 81% 65%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 18%,transparent 18%, transparent 77%,transparent 77%, transparent 100%),radial-gradient(circle at 51% 45%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 11%,transparent 11%, transparent 12%,transparent 12%, transparent 100%),radial-gradient(circle at 10% 56%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 82%,transparent 82%, transparent 90%,transparent 90%, transparent 100%),radial-gradient(circle at 42% 35%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 22%,transparent 22%, transparent 77%,transparent 77%, transparent 100%),radial-gradient(circle at 26% 86%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 17%,transparent 17%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 52% 88%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 49%,transparent 49%, transparent 70%,transparent 70%, transparent 100%),radial-gradient(circle at 62% 41%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 14%,transparent 14%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 54% 59%, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 42%,transparent 42%, transparent 86%,transparent 86%, transparent 100%),linear-gradient(135deg, rgb(255,255,255),rgb(255,255,255));
	background-image: radial-gradient(circle at top left, rgb(226,226,226) 0%, rgb(226,226,226) 2%,rgb(191,191,191) 2%, rgb(191,191,191) 23%,rgb(209, 209, 209) 23%, rgb(209, 209, 209) 55%,rgb(191,191,191) 55%, rgb(191,191,191) 80%,rgb(208,204,204) 80%, rgb(208,204,204) 86%,rgb(234,230,230) 86%, rgb(234,230,230) 96%,rgb(226,226,226) 96%, rgb(226,226,226) 100%);
	position: fixed;
	top: 0;
	left: 100vw;
	visibility: hidden;
	transition: all 0.75s;
}

.hbp{
	width: 450px;
	height: 135px;
	margin: 100px;
	position: relative;
	background: white;
	font-weight: bold;
	border: 5px solid black;
	left: 200px;
	top: 200px;
	font-family: BioRhyme;
	font-size: 4em;
}

.lower{
	position: relative;
	top: -50px;
	width: 100vw;
	height: calc(550px + 10vh);
	background-color: #f5f5f5;
}

.flyin{
	position: relative;
	opacity: 0;
	transition: all 2.5s;
}

.phys{
	width: 40%;
	font-family: Italianno;
	font-size: 8vw;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-align: center;
}

.phys:hover .physicsin{
	animation: phys 0.75s;
}

@keyframes phys{
	0%{
		letter-spacing: 1em;
		transform: translateX(-300px);
	}
	100% {
		letter-spacing: 0.15em;
	}
}

.code{
	left: 30px;
	top: 35px;
	width: 18%;
	font-family: Tangerine;
	font-size: 8vw;
	font-weight: bold;
	letter-spacing: 0.05em;
	transform: translateX(100%) ;
	z-index: 2;
}
.code:hover .codein{
	animation: code 0.75s;
}

@keyframes code{
	0%{
		transform: scaleY(0.1);
	}
	100%{
		transform: scaleY(1.0);
	}
}

.art{
	left: -50px;
	top: 7px;
	width: 7%;
	font-family: BioRhyme;
	font-size: 3vw;
	font-weight: bold;
	transform: translateX(-100%) ;
	z-index: 5;
}

.art:hover .artin{
	animation: art 0.75s;
}

@keyframes art{
	0%{
		transform: skewY(-45deg);
		transform-origin: bottom left;
	}
	100%{
		transform: skewY(0deg);
	}
}

.photo{
	left: 50px;
	top: -30px;
	width: 28%;
	font-family: Sanchez;
	font-size: 4vw;
	font-weight: bold;
	transform: translateX(-100%) ;
	z-index: 5;
}

.photo:hover .photoin{
	animation: photo 0.75s;
}

@keyframes photo{
	0%{
		transform: skewX(60deg);
	}
	100%{
		transform: skewX(0deg);
	}
}

.music{
	left: -70px;
	top: -30px;
	width: 12%;
	font-family: Montserrat;
	font-size: 3vw;
	font-weight: bold;
	transform: translateX(100%) ;
}

.music:hover{
	animation: music 0.75s
}

@keyframes music{
	0%{
		transform: scale(2);
	}
	100%{
		transform: scale(1.0);
	}

}

.world{
	font-size: 10vw;
	font-weight: bolder;
	font-family: Montserrat;
	z-index: 10;
	margin: 0 auto;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  transform: scale(2);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #f5f5f5;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.loading{
	z-index: 10000;
	height: 105vh;
	width: 105vw;
	position: fixed;
	top: -2.5vh;
	left: -2.5vw;
	background: black;
}

.loadholder{
	position: relative;
	top: 30%;
}

.galaxytype{
	width: 110vw;
	height: calc(550px + 10vh);
	background-color: #f5f5f5;
	z-index: 10;
	background:  #f5f5f5;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	top: -25px;
}

.invisible{
	opacity: 0;
}