/*Intro CSS*/

html::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

h1{
	font-size: 100px;
	color: white;
	font-weight: bold;
	font-style: monospace;
	overflow-y: hidden;
}

p{
	font-size: 50px;
	color: white;
	font-weight: bold;
	padding-right: 50px;
}

section{
	 overflow-y: hidden;
}

.skip2{
	background-color: transparent;
	color: white;
	height: 50px;
	width: 200px;
	border: none;
	font-size: 1.2em;
	font-family: BioRhyme;
	position: fixed;
	right: 15px;
	top: 5px;
}

.skipcirc{
	width: 20px;
	height: 20px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid white;
	position: fixed;
	right: 89px;
	top: 37px;
	transition: all 0.75s;
}

.skip2:hover > .skipcirc{
	transform: translate(28px) scale(1.3);
}


.skip{
	padding: 5px;
	width: 80px;
	height: 50px;
	position: fixed;
	top: 2vh;
	right: 2vh;
	border-radius: 50px;
	border: none;
	background: transparent;
	color: white;
	font-weight: bolder;
	font-size: 20px;
	transition: all 0.5s;
}

.skip .bf{
	width: 25%;
	padding: 2px;
	position: relative;
	left: 20px;
	border-radius: 50px;
	text-align: center;
	background-color: blue;
	transition: all 0.5s;
}
.skip .af{
	width: 75%;
	position: relative;
	right: 13px;
	opacity: 0;
	transform: rotateX(180deg);
	text-align: center;
	transition: all 0.5s;
}

.skip:hover .bf{
	opacity:0;
	transform: rotate(180deg);
}

.skip:hover .af{
	opacity: 1;
}

.skip:hover{
	background-color: blue;
	transform: rotate(360deg);
}

.skip:active .af{
	opacity: 0;
}

.skip:active{
	background-color: transparent;
}

.skip:activer .bf{
	transform: translate(50px);
}

.top{
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	width: 100vw;
 	height: 100vh;
 	overflow-x: hidden;
}


.topinner{
	background-color: rgb(0,0,0,0.8);
	background-attachment: fixed;
	background-size: 100% 100%;	
	padding: 50px;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

.mid{
	background-image: url('space.gif');
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	width: 100vw;
 	height: 100vh;
 	overflow-x: hidden;
}

.midinner{
	background-color: rgb(0,0,0,0.7);
	background-attachment: fixed;
	background-size: 100% 100%;	
	padding: 50px;
	padding-right: 100px;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

.rocket{
	position: fixed;
	right: -15vh;
	bottom: -15vh;
	width: 3vh;
	height: 3vh;
	transform: rotate(0);
	transition: all 0.1s;
}

.circle{
	position: relative;
	bottom: -100vh;
	background-color: #ccc;
	border-radius: 50%;
	width: 1vh;
	height: 1vh;
	transition: all 1s;
}
